// tfoot tr{
//     border:none
// }

// tr{
//     border: solid 1px black;
// }

// .table-borders{
//     border:solid 1px black;
// }

// .table-margin{
//     margin-top:2vh;
// }

h1{
    margin-top: 0;
    color: white;
}

.remove-padding{
    padding: 0;
}

.form-margins{
    margin-top: 20px;
    margin-bottom: 20px;
}

.making-height{
    height:15vh;
}

.remove-margin{
    margin-bottom:0;
}

.left-border{
    border-left: 1px solid grey;
}
// h2{
//     // margin-bottom: 0;
//     color: white;
// }